extends layout

block content
  .col-12.mt-4
    h3.strong
      | MSDEV Radio API
    ul
      li
        code /radio
        |  get stations list
      li
        code /radio/#group#
        |  get stations list by provided group (eskago, pr, sport, eurozet, agora, foreign)
      li
        code /radio/#group#/#name#
        |  get station data (link, image)
      li
        code /radio/#group#/#name#/listen
        |  listen to the station
      li
        code /radio/m3u
        |  get m3u file for music players
      li
        code /radio/search?group=#group#&name=#name#
        |  search station by group & name
  .col-12.mt-4
    each list, group in stations
      h3.strong
        | #{group}
      ul.list-inline
        each station in list
          li.list-inline-item
            a(href='/radio/'.concat(group, '/', station.name, '?full=1'))= station.name